/vendor
/node_modules
.env
.env.*
/public/storage
/storage/*.key
/storage/app/public
/storage/debugbar
npm-debug.log
yarn-error.log
.phpunit.result.cache
Homestead.json
Homestead.yaml
.vscode
.idea
.DS_Store
Thumbs.db
